// 定義水平列表的樣式
.horizontal-list {
  @include horizontal-list(2rem); // 使用 Mixin，間距設為 2rem
  padding: 2.5rem;
  padding-left: 50px;

  &__item {
    position: relative;
    width: 500px !important;
    text-align: center;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s,
      box-shadow 0.3s;

    // 標題樣式
    h5 {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }

    // 滑鼠懸停效果
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  }
}

//Top按鈕
.btnTop {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  z-index: 9;
  // background-color: $cerulean;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  &:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    background-color: $steel-gray;
  }
}

/* -------------- 彈窗 -------------- */

/* 彈窗內容 */
/* 彈窗背景樣式 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 彈窗內容樣式 */
.modal__content {
  position: relative;
  width: 60%;
  height: 95%;
  padding: 0.5rem;
  background-color: $primary-black;
  z-index: 101;
  overflow: hidden;
  border-radius: 18px;
  @include pad {
    padding: 2rem 1%;
  }
  @include mobile {
    padding: 2rem 1%;
  }
  .modal__content-container {
    max-height: 100%;
    border-radius: 18px;
    overflow-y: auto;
    img {
      width: 100%;
      // max-height: 80vh;
    }
    @include custom-scrollbar($dark-gray, $cool-gray, 6px);
    @include pad {
      padding: 2rem 3%;
    }
    @include mobile {
      padding: 2rem 1%;
    }
  }
  .list {
    display: flex;
    justify-content: space-evenly;
    & > * {
      margin: 0 0.5rem;
    }
  }
  a {
    transition: 0.5s all;
    -webkit-transition: 1s all;
    &:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
    }
  }
}

/* 關閉按鈕樣式 */
.modal__close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  // background: #000;
  color: #000;
  border: none;
  border-radius: 18px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 3rem;
}

/* 鎖定滾動 */
.no-scroll {
  overflow: hidden;
}

/* -------------- 動畫 -------------- */

//淡入淡出動畫
.animT,
.animR,
.animB,
.animL,
.animM {
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition-delay: 0.16s;
  -webkit-transition-delay: 0.16s;
}

.animT {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}

.animR {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
}

.animB {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
}

.animL {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
}

.animM {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.fadeIn {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

// 文字模糊淡入動畫
.blurIncontainer {
  .char {
    opacity: 0;
    transition:
      transform 1.6s cubic-bezier(0.19, 1, 0.22, 1),
      filter 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition:
      transform 1.6s cubic-bezier(0.19, 1, 0.22, 1),
      filter 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes blurInAnim {
  from {
    filter: blur(20px);
    opacity: 0;
    transform: translate(0, 100%) scale(1.5);
    -webkit-transform: translate(0, 100%) scale(1.5);
  }
  to {
    filter: none;
    opacity: 1;
    transform: translate(0 0) scale(1.5);
    -webkit-transform: translate(0 0) scale(1.5);
  }
}

// 全屏滾動
/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
}

#myVideo {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section1 .layer {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 43%;
  height: 100%;
}

#section1 h1 {
  color: #fff;
}

#infoMenu li a {
  color: #fff;
}

#section1 {
  overflow: hidden;
}
