@use "sass:color";
@use "variable" as *;

//RWD
@mixin pcXL {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin pcLG {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin pad {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

//重複函數
// 捲軸樣式定義
@mixin custom-scrollbar($track-bg, $thumb-bg, $width) {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $thumb-bg;
        background-color: $track-bg;
    }
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $thumb-bg;
    }
}

//Youtube 播放器樣式定義
@mixin embed-container() {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

//圖片取代文字
@mixin hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

// 定義一個 Mixin 用於水平排列列表
@mixin horizontal-list($gap: 2rem) {
    gap: $gap; // 控制項目之間的間距
}

// 霓虹發光字體
@mixin neon-text($color: #ffae42, $animation-duration: 1.5s) {
    font-size: 48px;
    font-weight: bold;
    color: color.adjust($color, $lightness: 40%); // 提升文字的亮度
    text-align: center;

    // 設定 text-shadow 創造霓虹燈效果
    text-shadow:
        0 0 5px $color,
        0 0 10px $color,
        0 0 20px $color,
        0 0 40px rgba($color, 0.8),
        0 0 80px rgba($color, 0.6);

    // 加入動畫
    animation: neonGlow $animation-duration infinite alternate;
}

// 霓虹燈閃爍動畫
@keyframes neonGlow {
    0% {
        text-shadow:
            0 0 5px #ffae42,
            0 0 10px #ffae42,
            0 0 20px #ffae42,
            0 0 40px rgba(#ffae42, 0.8),
            0 0 80px rgba(#ffae42, 0.6);
    }
    100% {
        text-shadow:
            0 0 5px #ffae42,
            0 0 15px #ffae42,
            0 0 30px #ffae42,
            0 0 60px rgba(#ffae42, 0.9),
            0 0 120px rgba(#ffae42, 0.7);
    }
}

// 水平垂直置中
@mixin center($direction: "both") {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

