@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 5px #ffae42, 0 0 10px #ffae42, 0 0 20px #ffae42, 0 0 40px rgba(255, 174, 66, 0.8), 0 0 80px rgba(255, 174, 66, 0.6);
  }
  100% {
    text-shadow: 0 0 5px #ffae42, 0 0 15px #ffae42, 0 0 30px #ffae42, 0 0 60px rgba(255, 174, 66, 0.9), 0 0 120px rgba(255, 174, 66, 0.7);
  }
}
/* common font */
html {
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 12.8px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

h1 {
  font-size: 2.5rem;
  font-family: "Poiret One", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Poiret One", sans-serif;
}

h3 {
  margin: 8px auto;
  font-size: 1.75rem;
  font-family: "Poiret One", sans-serif;
}

h4 {
  margin: 8px auto;
  font-size: 1.5rem;
  font-family: "Poiret One", sans-serif;
  line-height: 1.5rem;
}

h5 {
  margin: 8px auto;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 2rem;
}

h6 {
  margin: 8px auto;
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 2rem;
}

p {
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 2rem;
  color: #121212;
}

.glow-effect {
  color: #fff;
  text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 30px #ff9900;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

html {
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif, Arial, Helvetica;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  text-justify: inter-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  transition: all 0.6s;
}

button {
  display: block;
  padding: 0;
  border: none;
}

.horizontal-list {
  gap: 2rem;
  padding: 2.5rem;
  padding-left: 50px;
}
.horizontal-list__item {
  position: relative;
  width: 500px !important;
  text-align: center;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.horizontal-list__item h5 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.horizontal-list__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btnTop {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  z-index: 9;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.btnTop:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  background-color: #636366;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  animation: move-up-alternate 0.3s forwards;
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

/* -------------- 彈窗 -------------- */
/* 彈窗內容 */
/* 彈窗背景樣式 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 彈窗內容樣式 */
.modal__content {
  position: relative;
  width: 60%;
  height: 95%;
  padding: 0.5rem;
  background-color: #121212;
  z-index: 101;
  overflow: hidden;
  border-radius: 18px;
}
@media (max-width: 768px) {
  .modal__content {
    padding: 2rem 1%;
  }
}
@media (max-width: 500px) {
  .modal__content {
    padding: 2rem 1%;
  }
}
.modal__content .modal__content-container {
  max-height: 100%;
  border-radius: 18px;
  overflow-y: auto;
}
.modal__content .modal__content-container img {
  width: 100%;
}
.modal__content .modal__content-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #48484a;
  background-color: #1c1c1e;
}
.modal__content .modal__content-container::-webkit-scrollbar {
  width: 6px;
}
.modal__content .modal__content-container::-webkit-scrollbar-thumb {
  background-color: #48484a;
}
@media (max-width: 768px) {
  .modal__content .modal__content-container {
    padding: 2rem 3%;
  }
}
@media (max-width: 500px) {
  .modal__content .modal__content-container {
    padding: 2rem 1%;
  }
}
.modal__content .list {
  display: flex;
  justify-content: space-evenly;
}
.modal__content .list > * {
  margin: 0 0.5rem;
}
.modal__content a {
  transition: 0.5s all;
  -webkit-transition: 1s all;
}
.modal__content a:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

/* 關閉按鈕樣式 */
.modal__close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #000;
  border: none;
  border-radius: 18px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 3rem;
}

/* 鎖定滾動 */
.no-scroll {
  overflow: hidden;
}

/* -------------- 動畫 -------------- */
.animT,
.animR,
.animB,
.animL,
.animM {
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition-delay: 0.16s;
  -webkit-transition-delay: 0.16s;
}

.animT {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}

.animR {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
}

.animB {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
}

.animL {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
}

.animM {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.fadeIn {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.blurIncontainer .char {
  opacity: 0;
  transition: transform 1.6s cubic-bezier(0.19, 1, 0.22, 1), filter 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: transform 1.6s cubic-bezier(0.19, 1, 0.22, 1), filter 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes blurInAnim {
  from {
    filter: blur(20px);
    opacity: 0;
    transform: translate(0, 100%) scale(1.5);
    -webkit-transform: translate(0, 100%) scale(1.5);
  }
  to {
    filter: none;
    opacity: 1;
    transform: translate(0 0) scale(1.5);
    -webkit-transform: translate(0 0) scale(1.5);
  }
}
.orange-glow {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #ffae42, 0 0 10px #ffae42, 0 0 20px #ffae42, 0 0 40px rgba(255, 174, 66, 0.8), 0 0 80px rgba(255, 174, 66, 0.6);
  animation: neonGlow 2s infinite alternate;
}

.blue-glow {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #42a5f5, 0 0 10px #42a5f5, 0 0 20px #42a5f5, 0 0 40px rgba(66, 165, 245, 0.8), 0 0 80px rgba(66, 165, 245, 0.6);
  animation: neonGlow 1.8s infinite alternate;
}

.pink-glow {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 40px rgba(255, 64, 129, 0.8), 0 0 80px rgba(255, 64, 129, 0.6);
  animation: neonGlow 1.5s infinite alternate;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
}

#myVideo {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  /*cover video background */
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section1 .layer {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 43%;
  height: 100%;
}

#section1 {
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  max-width: 1320px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .wrap {
    padding: 0 10%;
  }
}
@media (max-width: 1024px) {
  .wrap {
    padding: 0 10%;
  }
}
@media (max-width: 768px) {
  .wrap {
    padding: 0 8%;
  }
}
@media (max-width: 500px) {
  .wrap {
    padding: 0 2%;
  }
}

header {
  height: 100vh;
}

/* Menu
 * --------------------------------------- */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer !important;
}
#menu li.active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#menu li.active a {
  color: #fff;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu li a {
  text-decoration: none;
  color: #000;
  padding: 9px 18px;
  display: block;
}

.footer {
  padding: 4rem 0;
  background-color: rgba(209, 209, 214, 0.4);
}

.footerLogo {
  width: 80px;
  margin: 0 auto;
}

.copyRight {
  text-align: center;
  color: #fff;
}

.material-icons {
  color: #fff;
}

.material-icons.md-40 {
  font-size: 40px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.btnTop {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  z-index: 9;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.btnTop:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  background-color: #1c1c1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #1c1c1e;
  background-color: #121212;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1c1c1e;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index {
  --bg-color: #121212;
  --text-color: #f2f2f7;
}

.aboutMe {
  --bg-color: #121212;
  --text-color: #f2f2f7;
}

.webCreations {
  --bg-color: #f2f2f7;
  --text-color: #121212;
}

.otherVisualCreations {
  --bg-color: #f2f2f7;
  --text-color: #121212;
}

.logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 70.16px;
  height: 78px;
  background: url("/img/logo.svg") no-repeat center;
}
@media (max-width: 768px) {
  .logo {
    height: 60px;
  }
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #121212;
}
@media (max-width: 1024px) {
  .sectionTitle {
    font-size: 7.5rem;
  }
}
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 6.5rem;
  }
}
@media (max-width: 500px) {
  .sectionTitle {
    font-size: 4rem;
  }
}

/* dynamic background */
.dynamicBG-container {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  background-color: #e5e5ea;
  transition: filter 0.3s ease-in-out;
  -webkit-transition: filter 0.3s ease-in-out;
}
.blur {
  filter: blur(10px);
  transition: filter 0.3s;
  -webkit-transition: filter 0.3s;
}

.index .layer {
  color: #121212;
  position: relative;
}
.index .layer .indexMainBN__text {
  position: absolute;
  top: 20vh;
  left: 13vw;
  z-index: 1;
  font-weight: 700;
  text-align: left;
  color: #e5e5ea;
}
.index .layer .indexMainBN__text h2 {
  font-size: 3rem;
}
.index .layer .indexMainBN__text h3 {
  margin: 1rem 0 0 0;
  font-size: 1rem;
}
.index .layer img {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.webCreations__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2rem;
  color: #ffffff;
}

.otherVisualCreations__text {
  position: absolute;
  top: 16%;
}
.otherVisualCreations__text p {
  font-size: 6rem;
  line-height: normal;
  color: #121212;
}

.otherVisualCreations__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otherVisualCreations__image {
  position: absolute;
  top: 240px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.i__title {
  margin: 20rem 0;
}

.i__section {
  margin: 2rem 0;
  padding: 0 20rem;
}

.educationAndExperience__section,
.skills__section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0 20rem;
}

.education__container,
.experience__container,
.languageCertifications__container,
.ITCertifications__container {
  margin: 0 2rem;
  width: 50%;
  text-align: left;
  border-top: 1px solid #1c1c1e;
}

.additionalExperience__list {
  display: flex;
  padding: 0 20rem;
}
.additionalExperience__list li {
  width: 100%;
}

.originalWebsite__list {
  display: flex;
}

.footer {
  background: #aeaeb2 url("/img/Random256Felt01-1.webp") repeat;
}/*# sourceMappingURL=all.css.map */